<div class="modal-header">
    <h4 class="modal-title pull-left">Add New Timesheet Card </h4>

</div>
<div class="modal-body">
    <form *ngIf="newTimesheetCardForm" [formGroup]="newTimesheetCardForm">
        <div class="form-group">
            <label>Select Month</label>
            <input type="month" class="form-control" formControlName="date" />
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dialogRef.close()">Cancel</button>
    <button type="submit" class="btn btn-success" (click)="addNewTimesheetCard()">Add</button>
</div>