<div class="head">
  <h2>Dashboard</h2>
  <h2>Today is {{ todayFormattedDate }}</h2>
</div>
<mat-grid-list cols="3" rowHeight="3:2" gutterSize="10px">
  <mat-grid-tile><app-my-projects-card></app-my-projects-card></mat-grid-tile>
  <mat-grid-tile
    ><app-open-timesheet-card></app-open-timesheet-card
  ></mat-grid-tile>
  <mat-grid-tile rowspan="2"
    ><app-my-tasks-card></app-my-tasks-card
  ></mat-grid-tile>
  <mat-grid-tile colspan="2"
    >chart with some data [projects done and sent]</mat-grid-tile
  >
</mat-grid-list>
