<div class="container" *ngIf="weekDetails">

    <div class="head">
        <h3>{{weekDetails.startWeek | date:'dd MMMM yyyy'}} - {{weekDetails.endWeek | date:'dd MMMM yyyy'}}

        </h3>
    </div>
    <div class="head">
        <h5>total time: {{weekDetails.totalWeekly}} hrs</h5>
    </div>

    <form [formGroup]="newTimesheetRecordForm" class="form-inline custom-form">

        <div class="form-group" style="margin-right: 5px; width: 100px;">
            <label>Time [hrs]</label>
            <input type="number" min="0.25" step="0.50" max="15" class="form-control" formControlName="time" />
        </div>

        <div class="form-group" style="margin-right: 5px; width: 202px;">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date"
                min="{{weekDetails.startWeek | date:'yyyy-MM-dd'}}" max="{{weekDetails.endWeek | date:'yyyy-MM-dd'}}"
                onkeydown="return false" />
        </div>

        <div class="form-group" style="margin-right: 5px; width: 202px;">
            <label>Project</label>
            <select class="form-select" class="form-control" name="project" formControlName="projectId">
                <option value="">not assigned</option>
                <option *ngFor="let project of projects" value="{{project.projectId}}">{{project.number}}
                    {{project.name}}</option>
            </select>
        </div>

        <div class="form-group" style="margin-right: 5px; width: 202px;">
            <label>Work Type</label>
            <select class="form-select" class="form-control" name="workType" formControlName="workTypeId">
                <option *ngFor="let workType of workTypes" value="{{workType.workTypeId}}">{{workType.workTypeName}}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-4" *ngIf="!isUpdating"
            (click)="addNewTimesheetRecord()">Add</button>
        <button type="submit" class="btn btn-warning mt-4" *ngIf="isUpdating" (click)="updateRecord()">update</button>
    </form>


    <div class="records-box mt-5">
        <mat-tab-group animationDuration="0ms" [selectedIndex]="currentDayNumber">

            <mat-tab label="Monday | {{weekDatesToArray(0) | date:'dd-MMM'}}" class="mat-tab-header">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[0]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[0]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[0]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[0]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[0])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Tuesday | {{weekDatesToArray(1) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[1]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[1]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[1]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[1]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[1])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Wednesday | {{weekDatesToArray(2) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[2]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[2]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[2]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[2]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[2])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Thursday | {{weekDatesToArray(3) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[3]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[3]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[3]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[3]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[3])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Friday | {{weekDatesToArray(4) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[4]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[4]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[4]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[4]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[4])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Saturday | {{weekDatesToArray(5) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[5]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[5]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[5]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[5]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[5])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Sunday | {{weekDatesToArray(6) | date:'dd-MMM'}}">
                <table class="table table-sm table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of records">
                            <td *ngIf="item.dayName == dayNames[6]">{{item.projectNumber}} {{item.projectName}}</td>
                            <td *ngIf="item.dayName == dayNames[6]">{{item.workType}}</td>
                            <td *ngIf="item.dayName == dayNames[6]">{{item.time}}</td>
                            <td *ngIf="item.dayName == dayNames[6]">
                                <button class="btn btn-outline-danger btn-sm"
                                    (click)="deleteTimesheetRecord(item.timesheetRecordId)">
                                    delete
                                </button>
                                <button class="btn btn-outline-warning btn-sm" (click)="loadTimesheetRecord(item)"
                                    style="margin-left: 5px;">
                                    edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong> Total: {{sumHoursByDayName(dayNames[6])}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

        </mat-tab-group>
    </div>
    <button class="btn btn-outline-primary mt-5 foot-btn" routerLink="/timesheets">CARDS</button>
    <button class="btn btn-outline-primary mt-5" (click)="backClicked()">WEEKS</button>
</div>