<div class="container" *ngIf="weekDetails">
  <div class="head">
    <h3>
      {{ weekDetails.startWeek | date: "dd MMMM yyyy" }} -
      {{ weekDetails.endWeek | date: "dd MMMM yyyy" }}
      <h5>total weekly: {{ weekDetails.totalWeekly }} hrs</h5>
    </h3>
    <div>
      <button
        style="margin-right: 5px"
        mat-raised-button
        color="primary"
        routerLink="/timesheets"
      >
        <mat-icon>skip_previous</mat-icon> Cards
      </button>
      <button mat-raised-button color="primary" (click)="backClicked()">
        <mat-icon>arrow_left</mat-icon> Back
      </button>
    </div>
  </div>

  <form [formGroup]="newTimesheetRecordForm">
    <div class="example-container">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Time [h]</mat-label>
        <input
          type="number"
          matInput
          formControlName="time"
          min="0.25"
          step="0.50"
          max="15"
          placeholder="min. 0.25"
        />
        <mat-icon matSuffix class="time-icon">timer</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="date_timesheet_record"
          formControlName="date"
          min="{{ weekDetails.startWeek | date: 'yyyy-MM-dd' }}"
          max="{{ weekDetails.endWeek | date: 'yyyy-MM-dd' }}"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_timesheet_record"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_timesheet_record></mat-datepicker>
      </mat-form-field>

      <p-dropdown
        [options]="projects"
        [filter]="true"
        filterBy="number"
        resetFilterOnHide="true"
        formControlName="projectId"
        [(ngModel)]="selectedProject"
        [showClear]="true"
        placeholder="Project"
        optionValue="projectId"
      >
        <ng-template let-project pTemplate="selectedItem">
          <div class="project-item project-item-value" *ngIf="selectedProject">
            <div>{{ project.number }} {{ project.name }}</div>
          </div>
        </ng-template>
        <ng-template let-project pTemplate="item">
          <div class="project-item">
            <div>{{ project.number }} {{ project.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <p-dropdown
        [options]="workTypes"
        [filter]="true"
        filterBy="workTypeName"
        resetFilterOnHide="true"
        formControlName="workTypeId"
        [(ngModel)]="selectedWorkType"
        [showClear]="true"
        placeholder="Work Type"
        optionValue="workTypeId"
      >
        <ng-template let-workType pTemplate="selectedItem">
          <div
            class="workType-item workType-item-value"
            *ngIf="selectedWorkType"
          >
            <div>{{ workType.workTypeName }}</div>
          </div>
        </ng-template>
        <ng-template let-workType pTemplate="item">
          <div class="workType-item">
            <div>{{ workType.workTypeName }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <button
        mat-raised-button
        type="submit"
        class="add-button"
        *ngIf="!isUpdating"
        (click)="addNewTimesheetRecord()"
      >
        <mat-icon>add_circle_outline</mat-icon>
        Add
      </button>

      <button
        mat-stroked-button
        type="submit"
        *ngIf="isUpdating"
        (click)="cancelUpdate()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="isUpdating"
        (click)="updateRecord()"
      >
        Update
      </button>
    </div>
  </form>

  <div class="records-box mt-5">
    <mat-tab-group animationDuration="0ms" [selectedIndex]="currentDayNumber">
      <mat-tab
        label="Mo | {{ weekDatesToArray(0) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Monday')
        }}h"
        class="mat-tab-header"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[0]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[0]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[0]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[0]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>

                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[0]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="Tu | {{ weekDatesToArray(1) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Tuesday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[1]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[1]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[1]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[1]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[1]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="We | {{ weekDatesToArray(2) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Wednesday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[2]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[2]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[2]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[2]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[2]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="Th | {{ weekDatesToArray(3) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Thursday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[3]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[3]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[3]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[3]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[3]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="Fr | {{ weekDatesToArray(4) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Friday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[4]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[4]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[4]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[4]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[4]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="Sa | {{ weekDatesToArray(5) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Saturday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[5]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[5]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[5]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[5]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[5]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab
        label="Su | {{ weekDatesToArray(6) | date: 'dd-MMM' }} | {{
          sumHoursByDayName('Sunday')
        }}h"
      >
        <table class="table table-sm table-hover mt-2">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td *ngIf="item.dayName == dayNames[6]">
                {{ item.projectNumber }} {{ item.projectName }}
              </td>
              <td *ngIf="item.dayName == dayNames[6]">{{ item.workType }}</td>
              <td *ngIf="item.dayName == dayNames[6]">{{ item.time }}</td>
              <td *ngIf="item.dayName == dayNames[6]">
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteTimesheetRecord(item.timesheetRecordId)"
                >
                  delete
                </button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  (click)="loadTimesheetRecord(item)"
                  style="margin-left: 5px"
                >
                  edit
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <strong> Total: {{ sumHoursByDayName(dayNames[6]) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
