.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.nav-admin {
  border: 1px #dadada;
  border-radius: 7px;
  border-color: #9ecaed;
  box-shadow: 0 0 2px #9ecaed;
}

.nav-admin:hover {
  box-shadow: 0 0 10px #9ecaed;
}

.nav-item {
  margin-right: 5px;
}

mat-icon {
  vertical-align: middle;
}

.navbar-brand,
.text-light {
  text-shadow: -1px 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
