<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" style="user-select: none">EmpApp |</a>
    <ul
      class="navbar-nav me-auto mb-2 mb-md-0"
      *ngIf="accountService.currentUser$ | async"
    >
      <li class="nav-item">
        <a class="nav-link" href="#"><mat-icon>house</mat-icon> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="timesheets"
          ><mat-icon>pending_actions</mat-icon> Timesheets</a
        >
      </li>
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"
            ><mat-icon>people</mat-icon> Users</a
          >
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/users']">List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/']">Holidays [todo]</a>
        </div>
      </div>
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"
            ><mat-icon>work</mat-icon> Projects</a
          >
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/projects-database']"
            >Database</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/project-workload']"
            >Workload</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/project-planner']"
            >Planner</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/projects-teams']"
            >Design Teams</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/projects-estimations']"
            >Estimating</a
          >
        </div>
      </div>
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"
            ><mat-icon>storage</mat-icon> Resources</a
          >
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item">MEMO's [todo]</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Timber Standard Sizes [todo]</a>
        </div>
      </div>
      <li class="nav-item" *appHasRole="['Admin']">
        <a class="nav-link nav-admin" href="timesheet/admin"
          ><mat-icon>shield</mat-icon> Timesheets (admin)</a
        >
      </li>
      <li class="nav-item" *appHasRole="['Admin']">
        <a class="nav-link nav-admin" href="admin"
          ><mat-icon>admin_panel_settings</mat-icon> PANEL (admin)</a
        >
      </li>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ user.username | titlecase }} ({{ user.roles }})</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/user/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      class="d-flex"
      #loginForm="ngForm"
      (ngSubmit)="login()"
      autocomplete="off"
      *ngIf="(accountService.currentUser$ | async) === null"
    >
      <input
        class="form-control me-2"
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control me-2"
        type="text"
        placeholder="Password"
        name="password"
        [(ngModel)]="model.password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
