<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">username</th>
            <th scope="col">Experience (years)</th>
            <th scope="col">Gender</th>
            <th scope="col">Created</th>
            <th scope="col">Last Active</th>
        </tr>
    </thead>
    <tbody>
        <tr data-toggle="collapse" *ngFor="let user of users">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.title}}</td>
            <td>{{user.username}}</td>
            <td>{{user.experience}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.created | date: 'dd-MMM-yyyy'}}</td>
            <td>{{user.lastActive| timeago}}</td>
        </tr>
    </tbody>
</table>