<div class="head">
  <div>
    <h3>{{ title }}</h3>
  </div>
  <div>
    <h3>Design Team</h3>
  </div>
</div>
<p-pickList
  (onMoveToTarget)="assignUserToProject($event)"
  (onMoveToSource)="deleteUserFromProject($event)"
  [showSourceControls]="false"
  [showTargetControls]="false"
  [source]="sourceUsers"
  [target]="targetUsers"
  sourceHeader="Available [{{ sourceUsers.length }}]"
  targetHeader="Assigned [{{ targetUsers.length }}]"
  [dragdrop]="true"
  [responsive]="true"
  [sourceStyle]="{ height: '30rem' }"
  [targetStyle]="{ height: '30rem' }"
  filterBy="firstName"
  sourceFilterPlaceholder="Search by name"
  targetFilterPlaceholder="Search by name"
>
  <ng-template let-user pTemplate="item">
    <div class="user-item">
      <div>
        <i class="pi pi-user"></i>
        <strong> {{ user.firstName }} {{ user.lastName }} </strong>
      </div>
      <div>
        <p>assigned to: {{ user.projectsCount }}</p>
      </div>
    </div>
  </ng-template>
</p-pickList>
