::ng-deep .p-picklist-buttons > button:nth-child(2),
::ng-deep .p-picklist-buttons > button:nth-child(4) {
  display: none;
}

.user-item {
  display: flex;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-around;
}
