<div class="container" *ngIf="cardDetails">
  <div class="head">
    <h3>
      {{ cardDetails.date | date: "MMMM yyyy" }} | total:
      {{ cardDetails.totalTime }}
      ({{ ((cardDetails.totalTime / 232.5) * 100).toFixed(0) }}%)
    </h3>
    <div>
      <button mat-raised-button color="primary" (click)="back()">
        <mat-icon>fast_rewind</mat-icon> Back
      </button>
    </div>
  </div>

  <hr />
  <mat-grid-list cols="3" rowHeight="5:2">
    <mat-grid-tile *ngFor="let item of weeks">
      <mat-card
        class="example-card"
        routerLink="/timesheet/records/{{ item.timesheetWeekId }}"
      >
        <mat-card-header>
          <mat-card-title
            >{{ item.startWeek | date: "d MMMM" }} -
            {{ item.endWeek | date: "d MMMM" }}
          </mat-card-title>
          <mat-card-subtitle>Week No. {{ item.weekNo }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>
            Hrs: {{ item.totalWeekly }} / 38.75
            <p style="float: right">
              {{ ((item.totalWeekly / 38.75) * 100).toFixed(0) }}%
            </p>
          </h6>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
