.example-card {
  width: 460px;
  text-align: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.box {
  overflow: auto;
  max-height: 500px;
}

::ng-deep .p-datatable .p-datatable-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem;
}

.search-input {
  min-width: 15rem;
  border: none;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 4px;
  font-size: 14px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
