<mat-card class="example-card">
  <div class="head">
    <mat-card-title><mat-icon>task</mat-icon> My Tasks </mat-card-title>
    <mat-icon matBadge="{{ myTasks.length }}">filter_none</mat-icon>
  </div>
  <mat-card-content *ngIf="myTasks.length < 1">
    <p>no tasks I'am assigned to</p>
  </mat-card-content>
  <mat-card-content *ngIf="myTasks.length > 0">
    <div class="box">
      <div class="card">
        <p-table
          #dt1
          [value]="myTasks"
          rowGroupMode="rowspan"
          groupRowsBy="projectNumber"
          sortField="projectNumber"
          sortMode="single"
          responsiveLayout="scroll"
          [globalFilterFields]="['projectNumber']"
        >
          >
          <ng-template pTemplate="caption">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input
                class="search-input"
                type="text"
                pInputText
                placeholder="Search by project number..."
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
              />
            </span>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Project</th>
              <th>Task</th>
              <th>Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-task
            let-rowIndex="rowIndex"
            let-rowgroup="rowgroup"
            let-rowspan="rowspan"
          >
            <tr>
              <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                <span>{{ task.projectNumber }}</span>
              </td>
              <td>
                {{ task.name }}
              </td>
              <td>
                {{ task.itemStage }}
              </td>
              <td>
                <button mat-icon-button>
                  <mat-icon>edit_note</mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No tasks found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button routerLink="/project-planner">Planner</button>
  </mat-card-actions>
</mat-card>
