.example-card {
  width: 460px;
  text-align: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.box {
  overflow: auto;
  max-height: 350px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* // */

/* .example-box {
  border: solid 1px #ccc;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: move;
  background: rgb(253, 250, 250);
  font-size: 12px;
  width: 95%;
} */

::ng-deep .p-orderlist .p-orderlist-controls {
  display: none;
}

.aa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* // */
