<div class="head">
    <h2>> Design Teams</h2>
</div>

<mat-form-field appearance="standard">
    <mat-label>Search project</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="number, name, status..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- View Column -->
        <ng-container matColumnDef="show">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button routerLink="/project/{{ row.projectId }}">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
            <td mat-cell *matCellDef="let row"> {{row.number}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Stage Column -->
        <ng-container matColumnDef="stage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stage </th>
            <td mat-cell *matCellDef="let row"> {{row.stage}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Status </th>
            <td mat-cell *matCellDef="let row">
                <span class="status-done" *ngIf="row.status === 'Done'">{{row.status}}</span>
                <span class="status-in-progress" *ngIf="row.status === 'In Progress'">{{row.status}}</span>
                <span class="status-not-started" *ngIf="row.status === 'Not Started'">{{row.status}}</span>
            </td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngFor="let designer of row.userProject">
                    <div>{{ designer.firstName }} {{ designer.lastName }}</div>
                </ng-container>
            </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <div>
                    <button mat-icon-button (click)="assignUserToProject(row)">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>