<div class="head">
  <h3>Timesheet Cards {{ currentYear }}</h3>
  <div>
    <button
      style="margin-right: 5px"
      mat-raised-button
      color="basic"
      routerLink="/timesheets-archive"
    >
      <mat-icon>bookmark_border</mat-icon> Archived
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onOpenDialogNewTimesheetCard()"
    >
      <mat-icon>data_saver_on</mat-icon> New Card
    </button>
  </div>
</div>

<hr />

<div *ngIf="timesheetCards.length < 1">
  <p class="no-cards-text">Create your first Timesheet Card this year!</p>
</div>

<div class="row">
  <div style="display: flex; flex-wrap: wrap">
    <div
      style="box-sizing: border-box; margin: 5px"
      *ngFor="let card of timesheetCards"
    >
      <mat-card class="example-card mat-elevation-z10">
        <div
          class="card-body"
          routerLink="/timesheet/weeks/{{ card.timesheetCardId }}"
        >
          <mat-card-subtitle
            ><div *ngIf="card.status == 'Accepted'" class="status-accepted">
              {{ card.status }}
            </div>
            <div *ngIf="card.status == 'Rejected'" class="status-rejected">
              {{ card.status }}
            </div>
            <div *ngIf="card.status == 'None'">
              <mat-icon class="none-icon">radio_button_unchecked</mat-icon>
            </div></mat-card-subtitle
          >
          <mat-card-title>{{ card.date | date: "MMMM yyyy" }}</mat-card-title>
          <mat-card-content>
            <p>Hours: {{ card.totalTime }}</p>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button
            mat-icon-button
            class="delete-button"
            (click)="deleteTimesheetCard(card.timesheetCardId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
