<div class="well fullView" cdkDropListGroup>
  <div class="head">
    <h2>> Planner</h2>

    <div style="margin: auto" *ngIf="tasks.length > 0">
      <h2>
        {{ title }}
        <p-tag value="total: {{ tasks[0].total }}"></p-tag>
      </h2>
    </div>

    <div class="right-side-head">
      <p-button
        label="new task"
        icon="pi pi-plus-circle"
        iconPos="right"
        styleClass="p-button-sm p-button-outlined p-button-success"
        class="head-button"
        (click)="newTaskOpenDialog()"
      ></p-button>

      <p-button
        label="my tasks"
        icon="pi pi-user"
        iconPos="right"
        styleClass="p-button-sm p-button-outlined p-button-secondary"
        class="head-button"
        (click)="getLoggedUserTasks()"
      ></p-button>

      <p-button
        label="all tasks"
        icon="pi pi-file"
        iconPos="right"
        styleClass="p-button-sm p-button-outlined p-button-primary"
        class="head-button"
        (click)="getAllTasks()"
        routerLink="/project-planner"
      ></p-button>

      <p-dropdown
        [options]="projects"
        styleClass="form-control"
        [filter]="true"
        filterBy="number"
        resetFilterOnHide="true"
        [(ngModel)]="selectedProject"
        [showClear]="true"
        placeholder="Tasks by Project..."
        optionValue="projectId"
        (onChange)="onSelectChange($event.value)"
      >
        <ng-template let-project pTemplate="selectedItem">
          <div class="project-item project-item-value" *ngIf="selectedProject">
            <div>{{ project.number }} {{ project.name }}</div>
          </div>
        </ng-template>
        <ng-template let-project pTemplate="item">
          <div class="project-item">
            <div>{{ project.number }} {{ project.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="example-container" *ngFor="let items of tasks; let i = index">
    <div class="headerBox">
      <p class="header">{{ items.taskHead }}</p>
    </div>
    <div
      cdkDropList
      #tasks="cdkDropList"
      [cdkDropListData]="items.tasks"
      class="example-list"
      (cdkDropListDropped)="drop($event, items.taskHead)"
    >
      <div
        class="example-box"
        *ngFor="let item of items.tasks"
        cdkDrag
        [cdkDragData]="item"
      >
        <div class="row">
          <div class="col-4">
            <div>Project</div>
            <div class="item-data">{{ item.projectNumber }}</div>
          </div>
          <div class="col">
            <div>Assigned to</div>
            <div class="item-data">
              {{ item.firstName.charAt(0) }}.
              {{ item.lastName }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div>Task</div>
            <div class="item-data">
              {{ item.name }} ({{ item.estimatedTime }}h)
            </div>
          </div>
          <div class="col trash-button">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary p-button-text"
              (click)="editTaskOpenDialog(item)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-secondary p-button-text"
              (click)="removeTask(item)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
