<div class="well fullView" cdkDropListGroup>
    <div class="head">
        <div style="display: inline-flex;">
            <h2>> Planner Tasks</h2>
            <button mat-icon-button (click)="onOpenDialog()" *appHasRole='["Admin"]'>
                <mat-icon class="new-project-button">add_task</mat-icon>
            </button>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>All Projects</mat-label>
            <mat-select (selectionChange)="onSelectChange($event.value)">
                <mat-option [value]="0">All Projects</mat-option>
                <mat-option *ngFor="let project of projects" [value]="project.projectId">
                    {{project.projectId}} {{project.number}}
                </mat-option>
            </mat-select>
        </mat-form-field>


    </div>
    <div class="example-container" *ngFor="let items of tasks;let i=index">
        <div class="headerBox">
            <p class="header">{{items.taskHead}}</p>
        </div>
        <div cdkDropList #tasks="cdkDropList" [cdkDropListData]="items.tasks" class="example-list"
            (cdkDropListDropped)="drop($event, items.taskHead)">
            <div class="example-box" *ngFor="let item of items.tasks" cdkDrag [cdkDragData]="item">
                <div>{{item.name}} prj: {{item.projectId}}</div>
                <button mat-icon-button (click)="removeTask(item)">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>