.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

table {
  border-collapse: unset;
}

.mat-column-projectNumber {
  font-weight: bold;
  min-width: 10px;
  background-color: whitesmoke
}

.mat-column-projectName {
  font-weight: bold;
  min-width: 200px;
  background-color: whitesmoke;
  border-right: solid 1px black;
}

.mat-column-comments {

  min-width: 500px;

}

.mat-cell {
  font-size: 12px;
}

/* slab cols */
.mat-column-slabRequired, .mat-column-slabEstimated,.mat-column-slabIssued {
  background-color: rgb(218, 231, 218);
  min-width: 70px;
}

/* bregs cols */
.mat-column-bRegsRequired, .mat-column-bRegsEstimated,.mat-column-bRegsIssued {
  background-color: rgb(230, 236, 203);
  min-width: 70px;
}

/* fullset cols */
.mat-column-fullSetRequired, .mat-column-fullSetEstimated,.mat-column-fullSetIssued {
  background-color: rgb(245, 229, 187);
  min-width: 70px;
}

/* issuing cols */
.mat-column-issuingRequired, .mat-column-issuingEstimated,.mat-column-issuingIssued {
  background-color: rgb(200, 226, 243);
  min-width: 70px;
}

/* staged cols */
.mat-column-slabStage, .mat-column-bRegsStage,.mat-column-productionStage {
  min-width: 100px;
}

th.mat-header-cell {
  justify-content: center !important;
  text-align: center;
  font-weight: bold;
}

td.mat-cell {
  justify-content: center !important;
  text-align: center;
  font-weight: 500;
}

::ng-deep .mat-sort-header-container {
  justify-content:center;
  text-align: center;
}

.example-container {
  /* min-height: 500px; */
  overflow: scroll;
}

.boolean-true {
  background-color: rgb(77, 150, 77) !important;
}

.boolean-false {
  background-color: rgb(219, 136, 136) !important;
}

th.mat-header-cell {
  text-align: center !important;
}

.mat-column-slab-header, .mat-column-bRegs-header, .mat-column-fullSet-header, .mat-column-issuing-header {
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(230, 228, 228);
}

.first-header {
  background-color: whitesmoke;
  border: none;
}

.second-header {
  background-color: whitesmoke;
  border: none;
}

.new-workload-button {
  color: green;
}