.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
  
table {
  width: 100%;
}

.mat-column-name {
  font-weight: bold;
  width: 25%;
}

.mat-column-number {
  font-weight: bold;
}

.mat-cell {
  font-size: 12px;
}

/* slab cols */
.mat-column-slabRequired, .mat-column-slabEstimated,.mat-column-slabIssued {
  background-color: rgb(218, 231, 218);
  width: 5%;
}

/* bregs cols */
.mat-column-bRegsRequired, .mat-column-bRegsEstimated,.mat-column-bRegsIssued {
  background-color: rgb(230, 236, 203);
  width: 5%;
}

/* fullset cols */
.mat-column-fullSetRequired, .mat-column-fullSetEstimated,.mat-column-fullSetIssued {
  background-color: rgb(245, 229, 187);
  width: 5%;
}

/* issuing cols */
.mat-column-issuingRequired, .mat-column-issuingEstimated,.mat-column-issuingIssued {
  background-color: rgb(200, 226, 243);
  width: 5%;
}

/* staged cols */
.mat-column-slabStage, .mat-column-bRegsStage,.mat-column-productionStage {
  width: 15%;
}

th.mat-header-cell,
td.mat-cell {
  justify-content: center !important;
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  justify-content:center;
  text-align: center;
}