<mat-card class="example-card">
  <mat-card-title
    ><mat-icon>business_center</mat-icon> My current Projects
  </mat-card-title>
  <mat-card-subtitle>quantity: 3</mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li><p>15-335 Brown</p></li>
      <li><p>20-221 Smith</p></li>
      <li><p>17-905 Harveyston</p></li>
      <li><p>17-905 Harveyston</p></li>
      <li><p>17-905 Harveyston</p></li>
    </ul>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button>Projects DB</button>
    <button mat-raised-button>Workload</button>
  </mat-card-actions>
</mat-card>
