table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

button {
  margin-right: 5px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.new-project-button {
  font-size: 24px;
}

.mat-column-total {
  font-weight: 800;
}

td.mat-cell {
  justify-content: center !important;
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
  text-align: center;
}

th.mat-header-cell {
  justify-content: center;
  text-align: center;
}

.mat-row:hover .mat-cell {
  background-color: whitesmoke;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  background-color: whitesmoke;
}

:host ::ng-deep .pi:before {
  margin: 1rem;
}

.mat-action-row {
  padding: 0;
  justify-content: space-between;
}

.description {
  font-weight: 500;
}

.mat-form-field {
  width: 10rem;
}
