<form
  [formGroup]="newWorkloadForm"
  (ngSubmit)="addWorkload()"
  autocomplete="off"
>
  <h3 class="text-center text-primary">
    <mat-icon>add_circle_outline</mat-icon> {{ title }}
  </h3>
  <hr />
  <div class="row row-centered">
    <!-- ProjectID -->
    <div class="col-4">
      <div class="form-group">
        <label>Site</label>
        <input type="text" class="form-control" formControlName="site" />
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <p-dropdown
          [options]="projects"
          styleClass="form-control"
          [filter]="true"
          filterBy="number"
          resetFilterOnHide="true"
          formControlName="projectId"
          [(ngModel)]="selectedProject"
          [showClear]="true"
          placeholder="Select a Project"
          optionValue="projectId"
        >
          <ng-template let-project pTemplate="selectedItem">
            <div
              class="project-item project-item-value"
              *ngIf="selectedProject"
            >
              <div>{{ project.number }} {{ project.name }}</div>
            </div>
          </ng-template>
          <ng-template let-project pTemplate="item">
            <div class="project-item">
              <div>{{ project.number }} {{ project.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="form-group text-center mt-2">
      <button
        class="btn btn-outline-secondary"
        style="margin-right: 3px"
        type="reset"
      >
        Clear
      </button>
      <button class="btn btn-success" type="submit">Add</button>
    </div>
  </div>
</form>

<p>{{ newWorkloadForm.value | json }}</p>
