<form
  [formGroup]="newWorkloadForm"
  (ngSubmit)="addWorkload()"
  autocomplete="off"
>
  <h3 class="text-center text-primary">
    <mat-icon>add_circle_outline</mat-icon> {{ title }}
  </h3>
  <hr />

  <p-panel header="General">
    <div class="row">
      <!-- ProjectID -->
      <div class="col-4">
        <p-dropdown
          [options]="projects"
          styleClass="form-control"
          [filter]="true"
          filterBy="number"
          resetFilterOnHide="true"
          formControlName="projectId"
          [(ngModel)]="selectedProject"
          [showClear]="true"
          placeholder="Project"
          optionValue="projectId"
        >
          <ng-template let-project pTemplate="selectedItem">
            <div
              class="project-item project-item-value"
              *ngIf="selectedProject"
            >
              <div>{{ project.number }} {{ project.name }}</div>
            </div>
          </ng-template>
          <ng-template let-project pTemplate="item">
            <div class="project-item">
              <div>{{ project.number }} {{ project.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <!-- Site -->
      <div class="col-4 custom-col">
        <p-dropdown
          inputId="dropdown"
          [autoDisplayFirst]="false"
          [options]="sites"
          styleClass="form-control"
          formControlName="site"
          optionLabel="siteName"
          [showClear]="true"
          optionValue="siteName"
          placeholder="Site"
        ></p-dropdown>
      </div>
      <!-- Issued -->
      <div class="col-4 custom-col">
        <p-toggleButton
          formControlName="issued"
          onLabel="Issued"
          offLabel="Not Issued"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
        ></p-toggleButton>
      </div>
    </div>
  </p-panel>

  <p-divider></p-divider>

  <p-panel header="Order & Delivery Date">
    <div class="row">
      <!-- Order Placed -->
      <div class="col">
        <label for="dateformat">Order Placed</label>
        <p-calendar
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2010:2050"
          formControlName="orderPlaced"
          dateFormat="dd-MM-yy"
          inputId="dateformat"
        ></p-calendar>
      </div>
      <div class="col">
        <label for="dateformat">Delivery Date</label>
        <p-calendar
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2010:2050"
          formControlName="delivery"
          dateFormat="dd-MM-yy"
          inputId="dateformat"
        ></p-calendar>
      </div>
    </div>
  </p-panel>

  <!-- BUTTONS -->
  <div class="form-group text-center mt-5">
    <button
      class="btn btn-outline-secondary"
      style="margin-right: 3px"
      type="reset"
    >
      Clear
    </button>
    <button class="btn btn-success" type="submit">Add</button>
  </div>
</form>

<p>{{ newWorkloadForm.value | json }}</p>
